* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 70%;
    width: 100%;
    margin: auto;
}

.red {
    color: red;
}

.green {
    color: green;
}